
.userProfileImage{
    height: 100px;
    width: 100px;
}
.userProfileName{
    font-size: 1.4em !important;
}
.userProfileLink{
    background-color: #f0face;
}

.editProfileLink{
    text-decoration: none;
    color: black;
}

.editProfileLink:hover{
    text-decoration: none;
    color: black;
}