.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.SigninButton{
    margin-top: 10px;
    max-width: 210px;
    padding: 10px;
}

.signinLink{
    text-decoration: none;
    color: black;
}

.signinLink:hover{
    text-decoration: none;
    color: black;
}