.logo {
    float: left;
    height: 50px;
    width: 50px;
    margin: 20px 0px 10px 10px;
}

.appname {
    position: relative;
    top: 15px;
    padding-inline-start: 5px;
    font-size: 40px;
}

.slogan {
    position: relative;
    float: right;
    bottom: 15px;
    font-size: 20px;
    padding: 0px;
    padding-inline-start: 5px;
}

.in-line {
    display: inline-block;
}